src/Sprzedaz/src/wsdl/localhost_8080/Klienci/Klienci.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://test/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://test/">

<xs:element name="dodaj_do_historii_zakupow" type="tns:dodaj_do_historii_zakupow"/>

<xs:element name="dodaj_klienta" type="tns:dodaj_klienta"/>

<xs:element name="dodaj_klientaResponse" type="tns:dodaj_klientaResponse"/>

<xs:element name="edytuj_klienta" type="tns:edytuj_klienta"/>

<xs:element name="oblicz_rabat" type="tns:oblicz_rabat"/>

<xs:element name="oblicz_rabatResponse" type="tns:oblicz_rabatResponse"/>

<xs:element name="usun_klienta" type="tns:usun_klienta"/>

<xs:complexType name="oblicz_rabat">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="oblicz_rabatResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dodaj_do_historii_zakupow">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="edytuj_klienta">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dodaj_klienta">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:int"/>
<xs:element name="arg4" type="xs:int"/>
<xs:element name="arg5" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dodaj_klientaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usun_klienta">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>