src/Sprzedaz/src/wsdl/localhost_8080/Klienci/Klienci.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://test/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://test/" name="Klienci">
<types>
<xsd:schema>
<xsd:import namespace="http://test/" schemaLocation="http://localhost:8080/Klienci/Klienci?xsd=1"/>
</xsd:schema>
</types>
<message name="dodaj_klienta">
<part name="parameters" element="tns:dodaj_klienta"/>
</message>
<message name="dodaj_klientaResponse">
<part name="parameters" element="tns:dodaj_klientaResponse"/>
</message>
<message name="usun">
<part name="parameters" element="tns:usun"/>
</message>
<message name="edytuj_klienta">
<part name="parameters" element="tns:edytuj_klienta"/>
</message>
<message name="oblicz_rabat">
<part name="parameters" element="tns:oblicz_rabat"/>
</message>
<message name="oblicz_rabatResponse">
<part name="parameters" element="tns:oblicz_rabatResponse"/>
</message>
<message name="polaczenieDoBazyDanych">
<part name="parameters" element="tns:polaczenieDoBazyDanych"/>
</message>
<message name="polaczenieDoBazyDanychResponse">
<part name="parameters" element="tns:polaczenieDoBazyDanychResponse"/>
</message>
<message name="dodaj_do_historii_zakupow">
<part name="parameters" element="tns:dodaj_do_historii_zakupow"/>
</message>
<portType name="Klienci">
<operation name="dodaj_klienta">
<input wsam:Action="http://test/Klienci/dodaj_klientaRequest" message="tns:dodaj_klienta"/>
<output wsam:Action="http://test/Klienci/dodaj_klientaResponse" message="tns:dodaj_klientaResponse"/>
</operation>
<operation name="usun">
<input wsam:Action="http://test/Klienci/usun" message="tns:usun"/>
</operation>
<operation name="edytuj_klienta">
<input wsam:Action="http://test/Klienci/edytuj_klienta" message="tns:edytuj_klienta"/>
</operation>
<operation name="oblicz_rabat">
<input wsam:Action="http://test/Klienci/oblicz_rabatRequest" message="tns:oblicz_rabat"/>
<output wsam:Action="http://test/Klienci/oblicz_rabatResponse" message="tns:oblicz_rabatResponse"/>
</operation>
<operation name="polaczenieDoBazyDanych">
<input wsam:Action="http://test/Klienci/polaczenieDoBazyDanychRequest" message="tns:polaczenieDoBazyDanych"/>
<output wsam:Action="http://test/Klienci/polaczenieDoBazyDanychResponse" message="tns:polaczenieDoBazyDanychResponse"/>
</operation>
<operation name="dodaj_do_historii_zakupow">
<input wsam:Action="http://test/Klienci/dodaj_do_historii_zakupow" message="tns:dodaj_do_historii_zakupow"/>
</operation>
</portType>
<binding name="KlienciPortBinding" type="tns:Klienci">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="dodaj_klienta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="usun">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="edytuj_klienta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="oblicz_rabat">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="polaczenieDoBazyDanych">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dodaj_do_historii_zakupow">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="Klienci">
<port name="KlienciPort" binding="tns:KlienciPortBinding">
<soap:address location="http://localhost:8080/Klienci/Klienci"/>
</port>
</service>
</definitions>