src/Sprzedaz/src/wsdl/localhost_8080/Ksiegowosc/Ksiegowosc.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ksiegowosc.test/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ksiegowosc.test/" name="Ksiegowosc">
<types>
<xsd:schema>
<xsd:import namespace="http://ksiegowosc.test/" schemaLocation="http://localhost:8080/Ksiegowosc/Ksiegowosc?xsd=1"/>
</xsd:schema>
</types>
<message name="wyplaty">
<part name="parameters" element="tns:wyplaty"/>
</message>
<message name="wyplatyResponse">
<part name="parameters" element="tns:wyplatyResponse"/>
</message>
<message name="dodaj_zakup">
<part name="parameters" element="tns:dodaj_zakup"/>
</message>
<message name="dodaj_zakupResponse">
<part name="parameters" element="tns:dodaj_zakupResponse"/>
</message>
<message name="dodaj_sprzedaz">
<part name="parameters" element="tns:dodaj_sprzedaz"/>
</message>
<message name="dodaj_sprzedazResponse">
<part name="parameters" element="tns:dodaj_sprzedazResponse"/>
</message>
<message name="pobierz_stan_konta">
<part name="parameters" element="tns:pobierz_stan_konta"/>
</message>
<message name="pobierz_stan_kontaResponse">
<part name="parameters" element="tns:pobierz_stan_kontaResponse"/>
</message>
<message name="pobierz_info_o_zakupie">
<part name="parameters" element="tns:pobierz_info_o_zakupie"/>
</message>
<message name="pobierz_info_o_zakupieResponse">
<part name="parameters" element="tns:pobierz_info_o_zakupieResponse"/>
</message>
<message name="pobierz_info_o_sprzedazy">
<part name="parameters" element="tns:pobierz_info_o_sprzedazy"/>
</message>
<message name="pobierz_info_o_sprzedazyResponse">
<part name="parameters" element="tns:pobierz_info_o_sprzedazyResponse"/>
</message>
<portType name="Ksiegowosc">
<operation name="wyplaty">
<input wsam:Action="http://ksiegowosc.test/Ksiegowosc/wyplatyRequest" message="tns:wyplaty"/>
<output wsam:Action="http://ksiegowosc.test/Ksiegowosc/wyplatyResponse" message="tns:wyplatyResponse"/>
</operation>
<operation name="dodaj_zakup">
<input wsam:Action="http://ksiegowosc.test/Ksiegowosc/dodaj_zakupRequest" message="tns:dodaj_zakup"/>
<output wsam:Action="http://ksiegowosc.test/Ksiegowosc/dodaj_zakupResponse" message="tns:dodaj_zakupResponse"/>
</operation>
<operation name="dodaj_sprzedaz">
<input wsam:Action="http://ksiegowosc.test/Ksiegowosc/dodaj_sprzedazRequest" message="tns:dodaj_sprzedaz"/>
<output wsam:Action="http://ksiegowosc.test/Ksiegowosc/dodaj_sprzedazResponse" message="tns:dodaj_sprzedazResponse"/>
</operation>
<operation name="pobierz_stan_konta">
<input wsam:Action="http://ksiegowosc.test/Ksiegowosc/pobierz_stan_kontaRequest" message="tns:pobierz_stan_konta"/>
<output wsam:Action="http://ksiegowosc.test/Ksiegowosc/pobierz_stan_kontaResponse" message="tns:pobierz_stan_kontaResponse"/>
</operation>
<operation name="pobierz_info_o_zakupie">
<input wsam:Action="http://ksiegowosc.test/Ksiegowosc/pobierz_info_o_zakupieRequest" message="tns:pobierz_info_o_zakupie"/>
<output wsam:Action="http://ksiegowosc.test/Ksiegowosc/pobierz_info_o_zakupieResponse" message="tns:pobierz_info_o_zakupieResponse"/>
</operation>
<operation name="pobierz_info_o_sprzedazy">
<input wsam:Action="http://ksiegowosc.test/Ksiegowosc/pobierz_info_o_sprzedazyRequest" message="tns:pobierz_info_o_sprzedazy"/>
<output wsam:Action="http://ksiegowosc.test/Ksiegowosc/pobierz_info_o_sprzedazyResponse" message="tns:pobierz_info_o_sprzedazyResponse"/>
</operation>
</portType>
<binding name="KsiegowoscPortBinding" type="tns:Ksiegowosc">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="wyplaty">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dodaj_zakup">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dodaj_sprzedaz">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pobierz_stan_konta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pobierz_info_o_zakupie">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pobierz_info_o_sprzedazy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Ksiegowosc">
<port name="KsiegowoscPort" binding="tns:KsiegowoscPortBinding">
<soap:address location="http://localhost:8080/Ksiegowosc/Ksiegowosc"/>
</port>
</service>
</definitions>