src/Sprzedaz/src/wsdl/localhost_8080/Ksiegowosc/Ksiegowosc.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://ksiegowosc.test/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ksiegowosc.test/">

<xs:element name="dodaj_sprzedaz" type="tns:dodaj_sprzedaz"/>

<xs:element name="dodaj_sprzedazResponse" type="tns:dodaj_sprzedazResponse"/>

<xs:element name="dodaj_zakup" type="tns:dodaj_zakup"/>

<xs:element name="dodaj_zakupResponse" type="tns:dodaj_zakupResponse"/>

<xs:element name="pobierz_info_o_sprzedazy" type="tns:pobierz_info_o_sprzedazy"/>

<xs:element name="pobierz_info_o_sprzedazyResponse" type="tns:pobierz_info_o_sprzedazyResponse"/>

<xs:element name="pobierz_info_o_zakupie" type="tns:pobierz_info_o_zakupie"/>

<xs:element name="pobierz_info_o_zakupieResponse" type="tns:pobierz_info_o_zakupieResponse"/>

<xs:element name="pobierz_stan_konta" type="tns:pobierz_stan_konta"/>

<xs:element name="pobierz_stan_kontaResponse" type="tns:pobierz_stan_kontaResponse"/>

<xs:element name="wyplaty" type="tns:wyplaty"/>

<xs:element name="wyplatyResponse" type="tns:wyplatyResponse"/>

<xs:complexType name="wyplaty">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="wyplatyResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="pobierz_stan_konta">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="pobierz_stan_kontaResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dodaj_sprzedaz">
<xs:sequence>
<xs:element name="produkt" type="tns:produkt" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="kodSprzedazy" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="produkt">
<xs:sequence>
<xs:element name="cena" type="xs:double"/>
<xs:element name="kodProduktu" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dodaj_sprzedazResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="pobierz_info_o_zakupie">
<xs:sequence>
<xs:element name="idZakupu" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pobierz_info_o_zakupieResponse">
<xs:sequence>
<xs:element name="return" type="tns:produkt" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dodaj_zakup">
<xs:sequence>
<xs:element name="produkt" type="tns:produkt" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="kodZakupu" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dodaj_zakupResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="pobierz_info_o_sprzedazy">
<xs:sequence>
<xs:element name="idSprzedazy" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pobierz_info_o_sprzedazyResponse">
<xs:sequence>
<xs:element name="return" type="tns:produkt" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>