src/Asortyment/src/wsdl/localhost_8080/Magazyn/Magazyn.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://magazyn_azu.mycompany.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://magazyn_azu.mycompany.com/">

<xs:element name="dodajDoMagazynu" type="tns:dodajDoMagazynu"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="pobierz" type="tns:pobierz"/>

<xs:element name="pobierzResponse" type="tns:pobierzResponse"/>

<xs:element name="uzupelnij" type="tns:uzupelnij"/>

<xs:element name="uzupelnijResponse" type="tns:uzupelnijResponse"/>

<xs:element name="wyswietlStan" type="tns:wyswietlStan"/>

<xs:element name="wyswietlStanResponse" type="tns:wyswietlStanResponse"/>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pobierz">
<xs:sequence>
<xs:element name="name" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pobierzResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="uzupelnij">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="uzupelnijResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="wyswietlStan">
<xs:sequence>
<xs:element name="kod" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="wyswietlStanResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dodajDoMagazynu">
<xs:sequence>
<xs:element name="kod_prod" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>